@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensansbold.woff");
  font-weight: bold;
  font-display: swap; }

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensansbold.woff2");
  font-weight: bold;
  font-display: swap; }

.page {
  color: #444444;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  min-width: 320px; }

.page__svg {
  display: none; }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 320px;
  position: relative;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }

.container_side {
  padding: 0 30px; }
  @media (min-width: 772px) {
    .container_side {
      padding: 0 51px; } }

.button {
  color: #444444;
  border: solid 2px #444444;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }

.button:hover {
  color: #ffffff;
  background-color: #444444; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.7); }

.link {
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  text-align: left; }

.link:hover {
  color: rgba(0, 0, 0, 0.4); }

.link:active {
  color: rgba(0, 0, 0, 0.3); }

.link_size-m {
  font-size: 17px; }

.mail-link {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
  border-bottom: 1px solid #63d1bb; }

.mail-link:hover {
  color: #63d1bb; }

.mail-link:active {
  color: rgba(70, 193, 174, 0.3);
  border-bottom: 1px solid rgba(70, 193, 174, 0.3); }

.title {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0; }
  @media (min-width: 768px) {
    .title {
      font-size: 43px;
      line-height: 50px;
      max-width: 430px; } }
  @media (min-width: 1150px) {
    .title {
      font-size: 53px;
      line-height: 57px;
      max-width: 600px; } }

.form {
  padding-top: 22px;
  padding-bottom: 40px;
  margin-bottom: 16px; }

.form__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  position: relative;
  margin: 0 auto; }

.form__desc {
  color: #444444;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto 22px auto; }

.form__item {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 29px auto; }

.form__fildset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 31px; }
  .form__fildset:last-child {
    margin-bottom: 0; }

.form__item_call {
  margin-bottom: 30px; }

.form__title {
  display: block;
  width: 100%;
  position: relative;
  color: #63d1bb;
  font-size: 0;
  text-transform: uppercase;
  margin-bottom: 23px; }

.form__title_mail,
.form__title_call {
  margin-bottom: 5px; }

.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left; }

.form__text::after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;
  background-color: #63d1bb; }

.form__checkbox {
  padding-bottom: 1px; }

.form__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  padding: 14px 0 0 14px;
  resize: none;
  border: 2px solid #000000; }
  .form__textarea:hover {
    border-color: #63d1bb; }
  .form__textarea:active {
    border-color: #63d1bb; }

.form__name {
  padding-top: 1px;
  margin-bottom: 21px; }
  .form__name:first-of-type {
    padding-top: 4px; }

.form__info {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px; }

.form__name:last-child {
  margin-bottom: 0; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000000;
  padding: 12px 0 14px 0;
  color: rgba(0, 0, 0, 0.2); }
  .form__row:hover {
    border-color: #63d1bb;
    color: #63d1bb; }
  .form__row:active {
    border-color: #63d1bb;
    color: #63d1bb; }

.form__fildset:last-child .form__row {
  padding-bottom: 6px; }

.form__row .form__input {
  padding: 0;
  border: 0; }

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  padding: 16px 0 17px 0; }
  .form__input:hover {
    border-color: #63d1bb; }
  .form__input:active {
    border-color: #63d1bb; }

.form__input::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 18px; }

.form__input::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 18px; }

.form__input::placeholder,
.form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 18px; }

.form__svg-phone {
  color: inherit;
  width: 50px;
  height: 24px; }

.form__svg-mail {
  color: inherit;
  width: 47px;
  height: 31px; }

.form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: -19px 0 31px 0; }

.form__button {
  padding: 14px 0;
  width: 100%; }

@media (min-width: 768px) {
  .form {
    padding-bottom: 49px;
    margin-bottom: 0; }
  .form__inner {
    padding: 0 52px; }
  .form__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 58px; }
  .form__text::after {
    display: none; }
  .form__item {
    position: relative;
    margin-bottom: 49px;
    padding: 0 0 0 166px; }
    .form__item:last-child {
      margin-bottom: 47px; }
  .form__item_color {
    padding: 50px 50px 27px 218px;
    background-color: #f1f1f1;
    margin: 0 -52px 47px -52px; }
  .form__item_color .form__title {
    left: 52px;
    top: 66px; }
  .form__title {
    position: absolute;
    margin: 0;
    top: 16px;
    left: 0;
    width: auto; }
  .form__fildset .form__title {
    left: -166px;
    top: 15px; }
  .form__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    margin-bottom: 23px; }
    .form__name:first-of-type {
      padding-top: 1px; }
  .form__info {
    font-size: 19px;
    font-weight: bold;
    line-height: 19px; }
  .form__fildset {
    margin-bottom: 22px; }
    .form__fildset:last-child {
      margin-bottom: 26px; }
    .form__fildset:last-child .form__row {
      padding-bottom: 11px; }
  .form__input {
    padding-left: 18px;
    margin-left: 24px; }
  .form__row {
    padding: 12px 17px 14px 0; }
  .form__flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form__button {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 230px; }
  .form__note {
    margin: 0;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .form {
    padding-bottom: 30px;
    margin-bottom: 17px; }
  .form__inner {
    padding: 0; }
  .form__desc {
    padding: 0 112px;
    width: 700px; }
  .form__item {
    padding-left: 112px;
    margin-bottom: 49px;
    padding-right: 110px;
    width: 920px; }
    .form__item:last-child {
      margin-bottom: 45px; }
  .form__item_color {
    width: 100%;
    margin: 0 0 49px 0;
    padding: 50px 0 24px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form__item_inner {
    width: 920px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding-right: 23px;
    padding-left: 110px; }
  .form__item_inner .form__title {
    left: -5px;
    top: 14px; }
  .form__row {
    padding-right: 0; }
  .form__fildset {
    padding-right: 90px; }
    .form__fildset:last-child {
      margin-bottom: 24px; }
    .form__fildset:last-child .form__row {
      padding-bottom: 9px; }
  .form__fildset .form__title {
    left: -111px; }
  .form__flex-box {
    padding-left: 113px;
    padding-right: 123px;
    width: 920px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto; }
  .form__name {
    margin-bottom: 25px; }
  .form__textarea {
    margin-bottom: -3px; }
  .form__input {
    margin-left: 18px; }
  .form__button {
    margin-left: -2px; } }

.radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px; }

.radio__label:last-child {
  margin-bottom: 0; }

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.radio__circle {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%; }
  .radio__circle:hover {
    border-color: #62d1ba; }
  .radio__circle:active {
    border-color: rgba(68, 68, 68, 0.3); }
  .radio__circle::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba; }

.radio__input:checked + .radio__circle::before {
  display: block; }

.radio__desc {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 22px;
  padding-top: 9px;
  max-width: 156px; }

@media (min-width: 768px) {
  .radio__label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px; }
  .radio__circle {
    width: 52px;
    height: 52px; }
    .radio__circle::before {
      width: 22px;
      height: 22px; }
  .radio__desc {
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    max-width: none;
    padding: 0;
    margin-left: 29px; } }

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 22px; }

.checkbox__label:last-child {
  margin-bottom: 0; }

.checkbox__input {
  display: none; }

.checkbox__min-square {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 39px;
  border: 2px solid #444444; }
  .checkbox__min-square:hover {
    border-color: #62d1ba; }
  .checkbox__min-square:active {
    border-color: rgba(68, 68, 68, 0.3); }

.checkbox__input:checked + .checkbox__min-square {
  background-image: url("../img/icon-tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 16px; }

.checkbox__desc {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 22px;
  padding-top: 11px;
  max-width: 156px; }

@media (min-width: 768px) {
  .checkbox__min-square {
    width: 54px;
    height: 52px; }
  .checkbox__input:checked + .checkbox__min-square {
    background-size: 33px 22px; }
  .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .checkbox__label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 48%;
    margin: 0 0 24px 0; }
    .checkbox__label:last-child {
      margin: 0 0 24px 0; }
  .checkbox__desc {
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    max-width: none;
    padding: 0;
    margin-left: 29px; } }

@media (min-width: 1150px) {
  .checkbox__label {
    width: 33.33333333333333333333333333%; }
  .checkbox__desc {
    margin-left: 26px; } }

.page-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec; }

.page-header__inner {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px;
  max-width: none; }
  @media (min-width: 768px) {
    .page-header__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .page-header__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.page-header__top {
  padding: 21px 0 23px 0;
  position: relative; }

.page-header__link,
.page-header__link-index {
  display: block;
  margin: 0 auto;
  max-width: 86px;
  max-height: 35px; }

.page-header__site-nav,
.page-header__user-nav,
.page-header__filter-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.page-header__filter-nav {
  display: none; }

.page-header__text {
  display: none; }

.page-header__toggle {
  position: absolute;
  display: block;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer; }

.page-header__toggle-open {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  margin: -3px 0 0 0;
  background-color: #000000; }

.page-header__toggle-open::after,
.page-header__toggle-open::before {
  position: absolute;
  display: block;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  content: ""; }

.page-header__toggle-open::after {
  top: -7px; }

.page-header__toggle-open::before {
  bottom: -7px; }

.page-header__toggle-close {
  width: 21px;
  height: 20px;
  display: block; }
  .page-header__toggle-close::before, .page-header__toggle-close::after {
    position: absolute;
    left: 15px;
    content: "";
    height: 20px;
    width: 2px;
    background-color: black; }
  .page-header__toggle-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .page-header__toggle-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@media (min-width: 768px) {
  .page-header {
    margin-bottom: 0; }
  .page-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-header__top {
    width: 372px;
    padding-bottom: 19px; }
  .page-header__link,
  .page-header__link-index {
    max-width: 114px;
    max-height: 48px;
    margin: 0 0 0 51px; }
  .page-header__toggle {
    display: none; }
  .page-header__site-nav {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    padding: 17px 0 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 372px; }
  .page-header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page-header__text {
    position: absolute;
    display: block;
    z-index: 1;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 17px 49px 0 0;
    color: #444444;
    font-size: 15px;
    line-height: 24px; } }

@media (min-width: 1150px) {
  .page-header__site-nav {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    z-index: auto;
    top: auto;
    left: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 372px; }
  .page-header__top {
    width: 283px;
    padding: 8px 0 16px 0; }
  .page-header__link {
    margin: 0 0 0 33px; }
    .page-header__link:hover {
      opacity: 0.6; }
    .page-header__link:active {
      opacity: 0.3; }
  .page-header__link-index {
    margin: 0 0 0 33px; }
  .page-header__filter-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 17px 0 0 50px;
    min-width: 420px; } }

.page-title {
  display: inline-block;
  vertical-align: middle;
  color: #010000;
  line-height: 30px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin: 0 30px;
  padding-bottom: 75px;
  max-width: 260px; }

.page-title_index {
  padding-bottom: 121px; }

@media (min-width: 768px) {
  .page-title {
    margin: 0;
    color: #000000;
    font-size: 43px;
    line-height: 50px;
    max-width: 500px;
    padding-bottom: 374px; }
  .welcome_common .page-title {
    padding-bottom: 0; } }

@media (min-width: 1150px) {
  .page-title {
    color: #000000;
    font-size: 53px;
    line-height: 57px;
    max-width: 700px;
    padding-bottom: 359px; } }

.page-footer {
  background-color: #f1f1f2;
  padding-bottom: 31px; }

.page-footer__link {
  color: #000000; }
  .page-footer__link:hover {
    color: #46c1ae; }
  .page-footer__link:active {
    color: rgba(70, 193, 174, 0.3); }

.page-footer__logo {
  width: 102px;
  height: 34px;
  display: none;
  color: inherit; }

@media (min-width: 768px) {
  .page-footer {
    padding: 0 0 48px 0; }
  .page-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 46px 0 50px; }
  .page-footer__logo {
    display: block; } }

@media (min-width: 1150px) {
  .page-footer__inner {
    max-width: 1050px;
    margin: 0 auto; } }

.menu {
  margin: 0;
  list-style: none;
  padding: 16px 0 21px 0; }

.menu__item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px 0 26px 0;
  border-top: 1px solid #ececec;
  text-align: left;
  padding-left: 76px; }

.menu__item:last-child {
  border-bottom: 1px solid #ececec; }

.menu__link {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer; }

.menu__item_basket {
  background-image: url("../img/icon-cart.svg");
  background-position: 30px 50%;
  background-repeat: no-repeat; }

.menu__item_search {
  background-image: url("../img/icon-search.svg");
  background-position: 30px 50%;
  background-repeat: no-repeat; }

.popup-adding {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 36px 0 46px 0;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6; }

.popup-adding_show {
  display: block; }

.popup-adding__inner {
  max-width: 260px;
  margin: 0 auto; }

.popup-adding__title {
  max-width: 148px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto 25px auto;
  text-transform: uppercase; }

.popup-adding__desc {
  font-size: 15px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 27px; }

.popup-adding__radio-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px; }

.popup-adding__button {
  width: 100%;
  height: 52px;
  border: 0;
  padding: 0;
  background-color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff; }

.radio-size__label {
  margin-right: 7px; }

.radio-size__square {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82px;
  height: 52px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  margin: 0 7px 0 0;
  border: 2px solid rgba(68, 68, 68, 0.1); }
  .radio-size__square:hover {
    border-color: rgba(68, 68, 68, 0.3); }
  .radio-size__square:active {
    border-color: #62d1ba; }
  .radio-size__square:last-child {
    margin-right: 0; }

.radio-size__input {
  display: none; }

.radio-size__input:checked + .radio-size__square {
  border-color: #62d1ba; }

.radio-size__desc {
  margin: 0 auto; }

@media (min-width: 768px) {
  .popup-adding {
    width: 566px;
    padding: 51px 0 46px 0; }
  .popup-adding__inner {
    max-width: 354px; }
  .popup-adding__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 32px;
    max-width: none; }
  .popup-adding__desc {
    font-size: 17px;
    margin-bottom: 26px; }
  .radio-size__square {
    width: 112px;
    height: 52px; } }

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

.popup-overlay_show {
  display: block; }

.user-nav__item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #ececec;
  text-align: left;
  position: relative; }

.user-nav__link {
  display: block;
  color: #000000;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  padding: 28px 0 26px 76px; }

.user-nav__link:hover .user-nav__svg,
.user-nav__link:hover .user-nav__svg-search {
  color: #63d1bb; }

.user-nav__link:active {
  opacity: 0.3; }

.user-nav__text {
  position: relative;
  display: block;
  max-width: 260px;
  margin: 0 auto; }

.user-nav__svg,
.user-nav__svg-search {
  overflow: visible;
  position: absolute;
  right: calc(50% + 110px);
  top: 50%;
  margin-top: -9px;
  display: block;
  color: #d5d4d5; }

.user-nav__item:last-child {
  border-bottom: 1px solid #ececec; }

@media (min-width: 768px) {
  .user-nav__item {
    padding: 0;
    border: 0;
    border-left: 1px solid #ececec; }
    .user-nav__item:last-child {
      border-bottom: 0; }
  .user-nav__item_search {
    max-width: 82px; }
  .user-nav__svg {
    right: calc(50% + 105px); }
  .user-nav__svg-search {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%); }
  .user-nav__link {
    padding: 30px 0 34px 0; }
  .user-nav__text {
    padding-left: 83px; }
  .user-nav__item_search .user-nav__link {
    font-size: 0; } }

@media (min-width: 1150px) {
  .user-nav__item_basket {
    min-width: auto; } }

.site-nav__item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #ececec;
  text-align: left; }

.site-nav__item:last-child {
  border-bottom: 0; }

.site-nav__link {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  padding: 28px 0 26px 76px; }

.site-nav__text {
  display: block;
  max-width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .site-nav__item {
    padding: 0;
    border: 0;
    width: auto; }
    .site-nav__item:last-child {
      margin-left: 37px; }
  .site-nav__link {
    font-size: 15px;
    line-height: 24px;
    padding: 0; } }

@media (min-width: 1150px) {
  .site-nav__item {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid #ececec;
    min-width: 234px; }
    .site-nav__item:first-child {
      border: 0; }
    .site-nav__item:last-child {
      margin: 0; }
    .site-nav__item:first-child .site-nav__link {
      margin-left: 15px; }
    .site-nav__item:last-child .site-nav__link {
      margin: -2px 0 0 -7px; }
  .site-nav__link {
    font-size: 17px;
    text-align: left; } }

.filter-nav__link {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px; }

.filter-nav__item {
  margin-right: 63px; }

.welcome {
  background-color: #f1f1f2;
  text-align: center; }

.welcome_common {
  padding: 71px 0 0 0; }

.welcome__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px;
  max-width: none; }
  @media (min-width: 768px) {
    .welcome__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .welcome__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.welcome_toys {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 71px; }

@media (min-width: 768px) {
  .welcome {
    position: relative;
    margin-bottom: 47px; }
    .welcome::after {
      content: "";
      display: block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 23px;
      background-image: url("../img/zigzag-fill-desktop-svg.svg");
      background-position: center;
      background-size: auto 23px;
      background-repeat: repeat; }
  .welcome__inner {
    padding: 0 50px; }
  .welcome_toys {
    padding: 153px 0 0 0;
    background-position: center top;
    background-size: auto;
    background-image: url("../img/hero-tablet@1x.jpg"); }
  .welcome__goods-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .welcome_common {
    padding: 96px 0 81px 0;
    margin-bottom: 47px; } }

@media (min-width: 1150px) {
  .welcome {
    margin-bottom: 72px; }
    .welcome::after {
      bottom: -19px;
      height: 34px;
      background-size: auto;
      background-repeat: repeat; }
  .welcome__goods-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .welcome_common {
    padding-bottom: 98px;
    margin-bottom: 101px; } }

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 320px), (min-resolution: 1.5dppx) and (min-width: 320px) {
  .welcome_toys {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 75%; } }

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px), (min-resolution: 1.5dppx) and (min-width: 768px) {
  .welcome_toys {
    background-size: auto; } }

.goods-nav__desc {
  max-width: 106px;
  color: #ffffff;
  text-align: left; }

.goods-nav__button:hover .goods-nav__desc {
  color: #ffffff; }

.goods-nav__button:active .goods-nav__desc {
  color: rgba(255, 255, 255, 0.3); }

.goods-nav__button {
  display: block;
  position: relative;
  width: 100%;
  padding: 6px 0 11px 29px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(20, 144, 128, 0.5); }
  .goods-nav__button:hover {
    color: rgba(20, 144, 128, 0.7); }
  .goods-nav__button:active {
    color: rgba(20, 144, 128, 0.3); }

.goods-nav__button_seafoam {
  background-color: #63d1bb; }
  .goods-nav__button_seafoam:hover {
    background-color: #59d5bc; }
  .goods-nav__button_seafoam:active {
    background-color: #59d5bc; }

.goods-nav__button_greeny {
  background-color: #56c3b2; }
  .goods-nav__button_greeny:hover {
    background-color: #46c1ae; }
  .goods-nav__button_greeny:active {
    background-color: #46c1ae; }

.goods-nav__svg {
  position: absolute;
  right: 34px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: inherit; }

.goods-nav__svg-toy {
  right: 27px; }

@media (min-width: 768px) {
  .goods-nav__button {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 0 10px 36px; }
  .goods-nav__desc {
    max-width: 90px; }
  .goods-nav__button_seafoam:hover,
  .goods-nav__button_greeny:hover {
    bottom: 5px;
    margin-bottom: -5px; } }

.goods-best {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 27px 0 6px 0; }
  .goods-best::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-desktop-svg.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: left;
    margin: 0 auto;
    max-width: 320px; }

.goods-best__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 30px; }

.goods-best__title {
  text-align: left;
  margin-bottom: 5px; }

.goods-best__subtitle {
  color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  margin: 0;
  margin-left: -1px;
  margin-bottom: 23px;
  text-transform: uppercase; }

.goods-best__desc {
  margin: 0;
  margin-bottom: 27px; }

.goods-best__details {
  margin-bottom: 28px; }

.goods-best__item {
  margin-bottom: 26px;
  text-align: center; }

.goods-best__img {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 260px;
  height: 315px; }

.goods-best__price {
  display: block;
  color: #444444;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 26px;
  text-align: center; }

.goods-best__button {
  width: 100%;
  padding: 14px 0;
  margin-bottom: 36px; }

@media (min-width: 768px) {
  .goods-best {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 42px; }
    .goods-best::after {
      content: "";
      display: block;
      width: 100%;
      height: 41px;
      background-image: url("../img/zigzag-line-desktop-svg.svg");
      background-repeat: repeat-x;
      background-size: auto 17px;
      background-position: left;
      margin: 0 auto;
      max-width: 668px; }
  .goods-best__info {
    padding-right: calc(50% + 70px); }
  .goods-best__inner {
    padding: 0 0 0 50px;
    max-width: 768px; }
  .goods-best__title {
    margin-bottom: 50px; }
  .goods-best__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 44px; }
  .goods-best__subtitle {
    position: absolute;
    max-width: 70px;
    text-align: center;
    line-height: 17px;
    top: 10px;
    right: 80px; }
  .goods-best__details {
    margin-bottom: 56px; }
  .goods-best__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px; }
  .goods-best__img {
    position: absolute;
    z-index: -1;
    right: 51px;
    top: 107px;
    width: 333px;
    height: 404px; }
  .goods-best__button {
    max-width: 292px; } }

@media (min-width: 1150px) {
  .goods-best {
    margin-bottom: 55px; }
    .goods-best::after {
      content: "";
      display: block;
      width: 100%;
      height: 30px;
      background-image: url("../img/zigzag-line-desktop-svg.svg");
      background-size: auto 23px;
      background-position: 132px 0;
      max-width: 1050px; }
  .goods-best__inner {
    max-width: 1050px;
    padding: 52px 0 0 172px; }
  .goods-best__button {
    margin-bottom: 70px; }
  .goods-best__details {
    margin-bottom: 109px; }
  .goods-best__item {
    margin-bottom: 34px; }
  .goods-best__subtitle {
    right: auto;
    left: 50px;
    top: 67px; }
  .goods-best__price {
    margin-left: -6px; }
  .goods-best__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 57px; }
  .goods-best__img {
    width: 525px;
    height: 636px;
    top: 0;
    right: 0; }
  .goods-best__info {
    left: 99px;
    top: 67px;
    margin-left: 4px;
    padding-right: calc(60% + 50px); } }

.details {
  background-color: transparent; }

.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 20px;
  padding-bottom: 10px;
  margin-bottom: 9px;
  border-bottom: 1px solid #ededed; }

.details__item:last-child {
  margin-bottom: 0; }

.details__info {
  min-width: 70px; }

.details__value {
  margin-left: 28px; }

.about {
  margin-bottom: 56px;
  padding-top: 21px; }

.about__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 30px; }

.about__title {
  margin-bottom: 31px;
  margin-left: -2px; }

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px; }

.about__item {
  padding-top: 55px;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 28px; }
  .about__item:last-child {
    margin-bottom: 0; }

.about__item_flower {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 8px 0;
  background-repeat: no-repeat; }

.about__item_money {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 1px 2px;
  background-repeat: no-repeat; }

.about__item_heart {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 7px 6px;
  background-repeat: no-repeat; }

.about__item_clew {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat; }

.about__item_rocket {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 0 5px;
  background-repeat: no-repeat; }

.about__item_present {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 3px 2px;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .about {
    padding-top: 0;
    margin-bottom: 0; }
  .about__inner {
    max-width: 768px;
    padding: 0 51px; }
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .about__title {
    margin-bottom: 49px; }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0; }
  .about__item {
    padding-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 22px; }
  .about__item_flower {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .about__item_money {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .about__item_heart {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .about__item_clew {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .about__item_rocket {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .about__item_present {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; } }

@media (min-width: 1150px) {
  .about {
    margin-bottom: 38px; }
  .about__inner {
    padding: 0 34px; }
  .about__item_clew {
    padding-right: 30px; } }

.reviews {
  position: relative; }
  .reviews::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-desktop-svg.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: left;
    margin: 0 auto;
    max-width: 320px; }

.reviews__inner {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px; }
  @media (min-width: 768px) {
    .reviews__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .reviews__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.reviews__slider {
  margin-bottom: 29px; }

.reviews__title {
  text-align: left;
  margin-bottom: 25px; }

.reviews__button {
  display: block;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .reviews {
    border: 0;
    margin-bottom: 19px; }
    .reviews::after {
      content: "";
      display: block;
      width: 100%;
      height: 41px;
      background-image: url("../img/zigzag-line-desktop-svg.svg");
      background-repeat: repeat-x;
      background-size: auto 17px;
      background-position: left;
      margin: 0 auto;
      max-width: 768px; }
  .reviews__inner {
    padding: 108px 51px 45px 51px;
    background-image: url("../img/review@1x.jpg");
    background-position: 0 29px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 51px; }
  .reviews__title {
    margin-bottom: 49px; }
  .reviews__slider {
    margin-bottom: 0; }
  .reviews__button {
    max-width: 175px;
    position: absolute;
    margin: 0;
    top: 110px;
    right: 52px; } }

@media (min-width: 1150px) {
  .reviews {
    margin-bottom: 67px; }
    .reviews::after {
      background-position: 288px 17px;
      background-size: auto 23px;
      max-width: 1050px; }
  .reviews__inner {
    max-width: 1050px;
    padding: 72px 51px 93px 172px; }
  .reviews__button {
    top: 80px;
    right: 0; } }

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px), (min-resolution: 1.5dppx) and (min-width: 768px) {
  .reviews__inner {
    background-image: url("../img/review@2x.jpg");
    background-size: 46%; } }

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1150px), (min-resolution: 1.5dppx) and (min-width: 1150px) {
  .reviews__inner {
    background-size: 34%;
    background-position: 0 0; } }

.slider {
  color: #444444;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  text-align: left; }

.slider__controls {
  width: 100%;
  height: 52px;
  margin-bottom: 38px; }

.slider__desc {
  margin: 0;
  margin-bottom: 23px; }

.slider__login {
  color: #444444;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px; }

.slider__name {
  word-spacing: 2px;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: left; }

@media (min-width: 768px) {
  .slider__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 56px; }
  .slider__name {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px; }
  .slider__name,
  .slider__login {
    display: block;
    max-width: 50%; }
  .slider__controls {
    position: absolute;
    max-width: 170px;
    margin: 0;
    right: 55px;
    top: 100%;
    margin-top: -101px; } }

@media (min-width: 1150px) {
  .slider__desc {
    margin-bottom: 37px; }
  .slider__controls {
    right: 2px;
    top: 89%; } }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.controls__button {
  width: 50%;
  background-color: transparent;
  height: 100%;
  border: 1px solid #ececec;
  color: #000000; }
  .controls__button:hover {
    color: rgba(0, 0, 0, 0.6); }
  .controls__button:active {
    color: rgba(0, 0, 0, 0.3); }

.controls__button:last-child {
  border-left: 0; }

.controls__svg {
  color: inherit; }

.controls__button_left,
.controls__button_right {
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.controls__button_left {
  background-image: url("../img/icon-left-arrow.svg"); }

.controls__button_right {
  background-image: url("../img/icon-right-arrow.svg"); }

@media (min-width: 768px) {
  .controls__button {
    border: 0;
    background-color: transparent; } }

.contacts {
  position: relative;
  padding-top: 35px;
  margin-bottom: 40px; }

.contacts__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px; }
  @media (min-width: 768px) {
    .contacts__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .contacts__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__button {
  display: block;
  margin: 0 auto;
  max-width: 255px;
  text-align: center;
  padding: 14px 0;
  font-size: 18px;
  line-height: 20px; }

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px; }

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px; }
  .contacts__item:last-child {
    margin-bottom: 37px; }

.contacts__info {
  min-width: 78px;
  max-width: 80px; }

.contacts__value {
  font-size: 15px;
  line-height: 30px; }

.contacts__value_link {
  line-height: 25px; }

.contacts__map {
  max-height: 457px;
  margin: 0 -30px;
  margin-bottom: 39px;
  background-color: #f3e8d9;
  position: relative; }

.contacts__iframe {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 457px; }

.contacts__img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 457px; }

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 57px; }
  .contacts__inner {
    position: relative;
    padding: 0 48px; }
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px; }
    .contacts__title::after {
      content: "";
      height: 82px;
      width: 48px;
      position: absolute;
      right: 6px;
      top: -16px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .contacts__list {
    margin-bottom: 19px; }
  .contacts__item {
    width: 50%;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0; }
    .contacts__item:first-child {
      padding-left: 4px; }
  .contacts__value {
    font-size: 17px;
    line-height: 30px; }
  .contacts__map {
    margin: 0 -50px 55px -50px; }
  .contacts__img {
    width: 768px;
    height: 457px; }
  .contacts__button {
    max-width: 230px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 17px;
    line-height: 20px; } }

@media (min-width: 1150px) {
  .contacts {
    padding-top: 0;
    margin-bottom: 63px; }
  .contacts__inner {
    max-width: 1050px;
    padding: 72px 550px 43px 172px; }
  .contacts__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    max-width: 260px;
    padding: 0 calc(40% + 40px) 0 172px; } }
  @media (min-width: 1150px) and (min-width: 768px) {
    .contacts__container {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) and (min-width: 1150px) {
    .contacts__container {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px; }
    .contacts__title::after {
      right: calc(100% + 60px);
      top: -8px; }
  .contacts__list {
    display: block;
    padding-left: 4px; }
  .contacts__item {
    width: 100%;
    margin-bottom: 30px; }
    .contacts__item:last-child {
      padding: 0;
      margin-bottom: 78px; }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: -2; }
  .contacts__img {
    width: 525px;
    height: 457px; }
  .contacts__button {
    min-width: auto;
    margin: 0 0 0 4px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 23px;
  padding: 25px 0 21px 0;
  border-bottom: 1px solid #ececec; }

.social__item {
  margin-left: 40px; }

.social__item:first-child {
  margin-left: 0; }

.social__item:last-child {
  margin-left: 37px; }

.social__link {
  color: #000000; }
  .social__link:hover {
    color: #46c1ae; }
  .social__link:active {
    color: rgba(70, 193, 174, 0.3); }

.social__svg {
  color: inherit; }

@media (min-width: 768px) {
  .social {
    padding: 0 0 0 75px;
    border: 0;
    margin: 7px 0 0 0; } }

.signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #000000; }
  .signature:active {
    color: rgba(0, 0, 0, 0.3); }

.signature__desc {
  font-size: 19px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 4px; }

.signature__svg {
  margin-left: 30px;
  overflow: visible;
  color: #63d1bb; }

.signature:hover .signature__svg {
  color: #46c1ae; }

.signature:active .signature__svg {
  color: rgba(70, 193, 174, 0.3); }

@media (min-width: 768px) {
  .signature {
    padding-top: 8px; }
  .signature__desc {
    margin-top: 3px; }
  .signature__svg {
    width: 31px;
    height: 37px;
    margin-left: 28px; } }

.goods {
  padding-top: 30px;
  margin-bottom: 30px; }

.goods__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px; }
  @media (min-width: 768px) {
    .goods__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .goods__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.goods__item {
  margin-bottom: 30px;
  text-align: left; }
  .goods__item:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .goods__item:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.goods__item:last-child {
  margin-bottom: 0; }

.goods__img {
  display: block;
  height: 195px;
  width: 260px; }

.goods__content {
  padding: 26px 28px 25px 27px;
  border: 1px solid #ececec; }

.goods__title {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 5px 0;
  text-decoration: none; }

.goods__details {
  color: #444444;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  margin-bottom: 21px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec; }

.goods__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.goods__link {
  color: rgba(0, 0, 0, 0.2); }
  .goods__link:hover {
    color: #63d1bb; }
  .goods__link:active {
    color: rgba(99, 209, 187, 0.3); }

.goods__icon {
  color: inherit;
  width: 20px;
  height: 19px;
  margin-top: 1px;
  margin-right: -2px; }

@media (min-width: 768px) {
  .goods {
    margin-bottom: 52px; }
  .goods__inner {
    padding: 0 50px; }
  .goods__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px; }
  .goods__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 26px 28px 27px 27px; }
  .goods__title {
    font-size: 20px;
    line-height: 24px; }
  .goods__details {
    font-size: 15px;
    line-height: 30px;
    border: 0; }
  .goods__img {
    width: 334px;
    height: 334px; }
  .goods__footer {
    padding-top: 14px;
    border-top: 1px solid #ececec;
    margin-top: auto; }
  .goods__price {
    margin: 10px 0 0 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px; }
  .goods__icon {
    padding: 0;
    margin: 0 3px -9px 0; } }

@media (min-width: 1150px) {
  .goods {
    margin-bottom: 57px; }
  .goods__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .goods__item {
    display: block;
    max-width: 316px;
    margin-bottom: 0;
    border: 1px solid #ececec; }
    .goods__item:last-child {
      margin-right: 0; }
    .goods__item:last-child .goods__details {
      margin-bottom: 13px; }
  .goods__img {
    max-width: 316px;
    height: auto; }
  .goods__details {
    padding: 0;
    margin-bottom: 37px; }
  .goods__content {
    border: 0;
    padding: 26px 28px 27px 27px; }
  .goods__price {
    margin: 10px 0 0 0; }
  .goods__icon {
    margin: 9px 5px 0 0; } }

.creation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 58px; }

.creation__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px;
  padding-top: 97px;
  border: 1px solid #ececec;
  position: relative; }
  @media (min-width: 768px) {
    .creation__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 768px; } }
  @media (min-width: 1150px) {
    .creation__inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 auto;
      max-width: 1150px; } }

.creation-video {
  display: block; }

.creation__icon {
  position: absolute;
  width: 33px;
  height: 33px;
  left: 32px;
  top: 30px;
  color: #63d1bb; }

.creation__title {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  padding: 24px 0 25px 90px;
  margin: 0;
  position: absolute;
  top: 1px; }

.creation__video {
  position: relative;
  margin-bottom: 19px;
  left: -1px; }

.creation__button-play {
  position: absolute;
  border: 0;
  padding: 0;
  font-size: 0;
  width: 102px;
  height: 78px;
  top: 50%;
  right: 0;
  left: 0;
  margin: -45px auto 0 auto;
  background-image: url("../img/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  cursor: pointer;
  overflow: visible; }
  .creation__button-play:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .creation__button-play:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }

.creation__desc {
  color: #444444;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  padding: 0 40px 0 35px;
  margin-bottom: 26px;
  padding-top: 2px; }

.creation__button {
  display: block;
  max-width: 192px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 14px 0;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .creation {
    border: 0;
    margin-bottom: 62px; }
  .creation__icon {
    left: 42px;
    top: 14px;
    color: #63d1bb; }
  .creation__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 668px;
    padding-top: 0; }
  .creation__video {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 668px;
    height: 455px; }
  .creation__title {
    font-size: 20px;
    line-height: 24px;
    padding: 19px 0 32px 107px;
    position: relative; }
  .creation__desc {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px; }
  .creation__img {
    width: 668px;
    height: 455px; }
  .creation__button {
    min-width: 584px;
    margin-bottom: 45px; } }

@media (min-width: 1150px) {
  .creation {
    margin-bottom: 104px; }
  .creation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1050px;
    min-height: 455px; }
  .creation__video {
    width: 682px;
    height: 455px;
    margin: 0; }
  .creation__info {
    margin-left: 79px;
    max-width: 230px;
    padding-top: 42px; }
  .creation__title {
    padding: 55px 0 0 0; }
  .creation__icon {
    left: 0;
    top: 0; }
  .creation__desc {
    padding: 33px 0 0 0;
    margin-bottom: 46px; }
  .creation__img {
    width: 682px;
    height: 455px; }
  .creation__button {
    min-width: 100%; } }

.hidden {
  display: none; }
